stages:
- stage: BuildAndDeploy
  displayName: 'Build and Deploy'
  jobs:
  - job: DeployApp
    displayName: 'Deploy App Service'
    steps:
    
    # 1. Publish pipeline artifact
    - task: PublishPipelineArtifact@1
      displayName: 'Publish pipeline artifact'
      inputs:
        artifactName: 'nodejs-app'
        targetPath: '$(Build.ArtifactStagingDirectory)'

    # 2. Deploy to Azure App Service
    - task: AzureWebApp@1
      displayName: 'Deploy Web App'
      inputs:
        azureSubscription: 'losinges7c' # <--- ¡Aquí debes poner la conexión AzureRM!
        appName: 'datos_22601'
        package: '$(Build.ArtifactStagingDirectory)'